.error-text {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border: 1px groove #dc3545;
  font-size: 1.45rem;
  line-height: 1.5rem;
  border-radius: 0.3rem;
}

.error-container {
  margin: auto auto 2rem auto;
  display: flex;
  flex-direction: column;
}