.repeat-button {
  background-image: url('./img/replay_button.png');
  background-position: left;
  background-size: 25px;
  background-repeat: no-repeat;
  border-radius: 8px;
  border-color: antiquewhite;
  width: 150px;
  margin: auto;
}

.error-container {
  margin: auto;
  display: flex;
  flex-direction: column;
}